In [1]:
import pandas as pd

# Part 1: loading and cleaning the data

In [24]:
df_wiki = pd.read_clipboard(sep = '\t')

In [25]:
df_wiki.head()

  Postal Code           Borough                Neighborhood
0         M1A      Not assigned                         NaN
1         M2A      Not assigned                         NaN
2         M3A        North York                   Parkwoods
3         M4A        North York            Victoria Village
4         M5A  Downtown Toronto  Regent Park / Harbourfront

#### Data requirements:
- The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood
- Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.
- More than one neighborhood can exist in one postal code area. For example, in the table on the Wikipedia page, you will notice that M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park. These two rows will be combined into one row with the neighborhoods separated with a comma as shown in row 11 in the above table.
- If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.
- Clean your Notebook and add Markdown cells to explain your work and any assumptions you are making.
- In the last cell of your notebook, use the .shape method to print the number of rows of your dataframe.

In [26]:
df_wiki.shape

(180, 3)

In [163]:
# Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.
df = df_wiki[df_wiki.Borough != 'Not assigned']

In [164]:
df.shape

(103, 3)

In [165]:
# More than one neighborhood can exist in one postal code area. For example, in the table on the Wikipedia page, 
# you will notice that M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park.
df.loc[df['Postal Code'] == 'M5A']

  Postal Code           Borough                Neighborhood
4         M5A  Downtown Toronto  Regent Park / Harbourfront

In [166]:
df.head()

  Postal Code           Borough                                  Neighborhood
2         M3A        North York                                     Parkwoods
3         M4A        North York                              Victoria Village
4         M5A  Downtown Toronto                    Regent Park / Harbourfront
5         M6A        North York             Lawrence Manor / Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government

In [167]:
# These two rows will be combined into one row with the neighborhoods separated with a comma 
# as shown in row 11 in the above table.
df['Neighborhood']= df['Neighborhood'].str.replace(' /', ',')

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [168]:
df.head()

  Postal Code           Borough                                 Neighborhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [169]:
# If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.
df['Neighborhood'].isna().sum()

0

In [170]:
df['Borough'].isna().sum()

0

In [171]:
df.describe()

       Postal Code     Borough Neighborhood
count          103         103          103
unique         103          10           98
top            M1L  North York    Downsview
freq             1          24            4

In [172]:
df.groupby('Borough')['Neighborhood'].count()

Borough
Central Toronto      9
Downtown Toronto    19
East Toronto         5
East York            5
Etobicoke           12
Mississauga          1
North York          24
Scarborough         17
West Toronto         6
York                 5
Name: Neighborhood, dtype: int64

In [173]:
df.Borough.value_counts()

North York          24
Downtown Toronto    19
Scarborough         17
Etobicoke           12
Central Toronto      9
West Toronto         6
East Toronto         5
York                 5
East York            5
Mississauga          1
Name: Borough, dtype: int64

In [174]:
df.Neighborhood.value_counts()

Downsview                                                                                                        4
Don Mills                                                                                                        2
Willowdale                                                                                                       2
The Kingsway, Montgomery Road, Old Mill North                                                                    1
Thorncliffe Park                                                                                                 1
Agincourt                                                                                                        1
Woodbine Heights                                                                                                 1
Bayview Village                                                                                                  1
St. James Town                                                                                                   1
India Bazaar, The Beaches West                                                                                   1
Central Bay Street                                                                                               1
Dorset Park, Wexford Heights, Scarborough Town Centre                                                            1
Business reply mail Processing Centre                                                                            1
Runnymede, Swansea                                                                                               1
Victoria Village                                                                                                 1
Eringate, Bloordale Gardens, Old Burnhamthorpe, Markland Wood                                                    1
Toronto Dominion Centre, Design Exchange                                                                         1
Northwood Park, York University                                                                                  1
Kensington Market, Chinatown, Grange Park                                                                        1
Glencairn                                                                                                        1
Richmond, Adelaide, King                                                                                         1
Queen's Park, Ontario Provincial Government                                                                      1
Kingsview Village, St. Phillips, Martin Grove Gardens, Richview Gardens                                          1
Del Ray, Mount Dennis, Keelsdale and Silverthorn                                                                 1
Golden Mile, Clairlea, Oakridge                                                                                  1
York Mills, Silver Hills                                                                                         1
CN Tower, King and Spadina, Railway Lands, Harbourfront West, Bathurst Quay, South Niagara, Island airport       1
Weston                                                                                                           1
East Toronto                                                                                                     1
Stn A PO Boxes                                                                                                   1
                                                                                                                ..
Rosedale                                                                                                         1
Steeles West, L'Amoreaux West                                                                                    1
High Park, The Junction South                                                                                    1
Parkdale, Roncesvalles                                                                                           1
Leaside                                                                                                          1
South Steeles, Silverstone, Humbergate, Jamestown, Mount Olive, Beaumond Heights, Thistletown, Albion Gardens    1
The Beaches                                                                                                      1
Bathurst Manor, Wilson Heights, Downsview North                                                                  1
Humewood-Cedarvale                                                                                               1
North Toronto West                                                                                               1
Garden District, Ryerson                                                                                         1
Lawrence Manor, Lawrence Heights                                                                                 1
Commerce Court, Victoria Hotel                                                                                   1
Rouge Hill, Port Union, Highland Creek                                                                           1
West Deane Park, Princess Gardens, Martin Grove, Islington, Cloverdale                                           1
Davisville North                                                                                                 1
Fairview, Henry Farm, Oriole                                                                                     1
New Toronto, Mimico South, Humber Bay Shores                                                                     1
Guildwood, Morningside, West Hill                                                                                1
Woburn                                                                                                           1
Moore Park, Summerhill East                                                                                      1
Islington Avenue                                                                                                 1
Runnymede, The Junction North                                                                                    1
Summerhill West, Rathnelly, South Hill, Forest Hill SE, Deer Park                                                1
Davisville                                                                                                       1
Studio District                                                                                                  1
First Canadian Place, Underground city                                                                           1
Upper Rouge                                                                                                      1
University of Toronto, Harbord                                                                                   1
Birch Cliff, Cliffside West                                                                                      1
Name: Neighborhood, Length: 98, dtype: int64

In [175]:
# In the last cell of your notebook, use the .shape method to print the number of rows of your dataframe.
df.shape

(103, 3)

# Part 2: merging with geospatial coordinates

In [176]:
df.describe()

       Postal Code     Borough Neighborhood
count          103         103          103
unique         103          10           98
top            M1L  North York    Downsview
freq             1          24            4

In [177]:
df.head()

  Postal Code           Borough                                 Neighborhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [178]:
df_coordinates = pd.read_csv('Geospatial_Coordinates.csv')

In [179]:
df_coordinates.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [180]:
df_coordinates.describe()

         Latitude   Longitude
count  103.000000  103.000000
mean    43.704608  -79.397153
std      0.052463    0.097146
min     43.602414  -79.615819
25%     43.660567  -79.464763
50%     43.696948  -79.388790
75%     43.745320  -79.340923
max     43.836125  -79.160497

In [181]:
df = df.merge(df_coordinates)

In [184]:
df.head(12)

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494
5,M9A,Etobicoke,Islington Avenue,43.667856,-79.532242
6,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
7,M3B,North York,Don Mills,43.745906,-79.352188
8,M4B,East York,"Parkview Hill, Woodbine Gardens",43.706397,-79.309937
9,M5B,Downtown Toronto,"Garden District, Ryerson",43.657162,-79.378937
10,M6B,North York,Glencairn,43.709577,-79.445073
11,M9B,Etobicoke,"West Deane Park, Princess Gardens, Martin Grov...",43.650943,-79.554724

# Part 3: exploring and clustering